@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Lemonada:wght@400;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
}
body{
    font-family: 'Asul', sans-serif;
    font-family: 'Lemonada', cursive;
    font-family: 'Montserrat', sans-serif;
}
/* banner_start */
#banner{
    background: url("../images/banner.jpg") no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.banner_layer{
    background-color: #494848a8;
}
.banner_top{
    width: 94%;
}
.logo{
    width: 36%;
}
.banner_logo{
    width: 30%;
}
.banner_link{
    width: 70%;
}
.banner_list li a{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.banner_list li a::after{
    content: "";
    width: 0;
    height: 3px;
    display: inline-block;
    background-color: #d34e52;
    left: 0;
    right: 0;
    bottom: -4px;
    position: absolute;
    transition: 0.5s ease-out;
}
.banner_list li a:hover::after{
    width: 100%;
}
.banner_list li.active a::after{
    width: 100%;
}
.banner_link i:hover{
    color: #d34e52 !important;
}
.banner_bottom h2{
    font-size: 40px;
    font-family: 'Lemonada', cursive;
}
.banner_bottom span{
    color: #d34e52;
}
.banner_bottom p{
    font-size: 20px;
    font-family: 'Asul', sans-serif;
}
.order_link a{
    width: 10%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #d34e52;
}
.order_link a:hover{
    background-color: #ffffff8e;
    font-weight: 900;
}
.navbar-brand, nav button.navbar-toggler{
    display: none;
}
.offcanvas-header{
    font-size: 20px;
    font-family: 'Asul', sans-serif;
    letter-spacing: 0.5px;
}
.navbar-brand{
    width: 112px;
}
button.btn{
    background-color: #d34e52;
    border-color: #d34e52;
}
/* banner_end */

/* popular_start */
#popular{
    background-color: #ececec;
}
.menu_bg{
    background: url("/images/menu_bg.png") no-repeat center;
    background-size: cover;
}
.popular_details{
    width: 80%;
    grid-template-columns: auto auto auto;
}
.popular_top h2{
    font-size: 30px;
    font-family: 'Lemonada', cursive;
}
.popular_inner h4{
    font-size: 24px;
    font-family: 'Lemonada', cursive;
}
.popular_inner h4 a{
    color: #6a6a6a;
}
.breakfast, .lunch, .dinner{
    width: 80%;
    transition: 1s;
}
.breakfast:hover, .lunch:hover, .dinner:hover{
    transform: scale(1.3);
}
.popular_inner:hover{
    font-size: 20px;
    background-color: #d34e52;
    box-shadow: 0 0 20px rgba(20, 20, 20, 0.3);
    color: #fff;
    cursor: pointer;
}
.popular_inner:hover h4 a{
    font-size: 20px;
    color: #fff;
}
/* popular_end */

/* history_start */
.history{
    background-color: #333;
}
.food_img{
    width: 80%;
}
.history.carousel-item{
    width: 80%;
}
.carousel_details{
    width: 80%;
    grid-template-columns: 50% 50%;
}
.food_content h4{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
}
.food_content p{
    width: 86%;
    font-size: 18px;
    font-family: 'Asul', sans-serif;
    line-height: 28px;
}
.food_link, .food_link a{
    width: 22%;
    color: #ffffffc4;
    background-color: #bbb;
    cursor: pointer;
}
.food_link:hover, .food_link:hover a{
    background-color: #d34e52;
    color: #fff;
}
/* history_end */

/* statistics_start */
#statistics{
    background-color: #ececec;
}
.statistics_content{
    width: 86%;
    font-family: 'Lemonada', cursive;
    text-align: center;
}
#statistics h2{
    font-size: 30px;
    font-family: 'Lemonada', cursive;
    color: #333;
}
.statistics_inner{
    width: 22%;
    height: 46vh;
    cursor: pointer;
}
.statistics_details{
    width: 500px;
}
.statistics_para{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(214, 104, 108, 0.767);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.statistics_para:hover{
    opacity: 1;
}
.statistics_para h4{
    font-size: 28px;
}
/* statistics_end */

/* whyChoose_start */
.kitchen{
    background: url("/images/kitchen_bg.jpg") no-repeat center;
    background-size: cover;
}
.kitchen_layer{
    background-color: #0c0c0ccc;
}
.kitchen_top{
    width: 60%;
}
.kitchen_top h4, .kitchen_top h2{
    font-size: 20px;
    font-family: 'Lemonada', cursive;
}
.kitchen_top h4{
    color: #d34e52;
}
.kitchen_top h2{
    font-size: 36px;
}
.kitchen_golden{
    width: 50px;
}
.kitchen_inner{
    width: 86%;
}
.kitchen_details{
    width: 21.5%;
}
.kitchen_content{
    width: 96%;
    border-radius: 46px 0;
    color: #bbbbbb;
}
.kitchen_img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.kitchen_content h4{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.kitchen_content p{
    width: 94%;
    font-size: 14px;
    font-family: 'Asul', sans-serif;
}
/* whyChoose_end */

/* slider_start */
#slider{
    background: url("../images/slider_bg.jpg") no-repeat center;
    background-size: cover;
}
.overlay{
    background-color: rgba(20, 20, 20, 90%);
}
.slider_inner{
    width: 84%;
}
.carousel_img{
    width: 140px;
    height: 140px;
    border-radius: 100%;
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}
#carouselExampleIndicators{
    padding: 0 0 100px;
}
.carousel p{
    width: 80%;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Asul', sans-serif;
}
.carousel h5{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.carousel h5 span{
    font-size: 22px;
    font-family: 'Lemonada', cursive;
}
/* slider_end */

/* newsLetter_start */
#newsLetter{
    background-color: #ececec;
}
.newsLetter_inner{
    width: 80%;
}
.newsLetter_inner h2{
    font-size: 30px;
    font-family: 'Lemonada', cursive;
    color: #333;
}
.newsLetter_inner h2::before{
    content: "";
    width: 40px;
    height: 5px;
    right: 47%;
    top: -50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-color: #d34e52;
    display: inline-block;
    position: absolute;
}
.newsLetter_inner input{
    width: 50%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 1px solid #d34e52;
    border-radius: 4px;
}
::placeholder{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
input:hover{
    border: 1px solid #4d4d4d;
}
.email a{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #d34e52;
    color: #ececec;
    border-radius: 0px 4px 4px 0px;
    margin: 0 0 0 -20px;
}
.email a:hover{
    background-color: #4d4d4d;
}

/* newsLetter_end */

/* footer_start */
.footer{
    background: url("../images/footer_bg.jpg") no-repeat center;
    background-size: cover;
}
.overlay{
    background-color: rgba(20, 20, 20, 94%);
}
.footer_inner{
    width: 86%;
    grid-template-columns: 30% 30% 30%;
    padding: 80px 0 40px;
}
.footer_logo{
    width: 68%;
}
.footer_content h4{
    font-size: 18px;
    font-family: 'Lemonada', cursive;
}
.footer_content p{
    width: 90%;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Asul', sans-serif;
    color: #bbbbbb;
}
.footer_content a{
    font-size: 16px;
    font-family: 'Asul', sans-serif;
    background-color: #212529;
    color: #aaa;
    padding: 12px 22px;
}
.social_icons i{
    font-size: 28px;
    cursor: pointer;
}
.arrow{
    text-align: center;
    background-color: rgb(211, 78, 82);
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 10px 16px;
    opacity: 0.8;
    cursor: pointer;
}
.arrow:hover{
    opacity: 1;
}
/* footer_end */